# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sln
*.lnk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
;*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.db
*.opendb
*.hotreload
*.exp

# Folders
.vs
Escape/DerivedDataCache
Escape/Intermediate
Escape/Saved
Escape/Build
Escape/Releases
Escape/Binaries/Android
Escape/Content/Collections
Escape/Content/Developers

#Kwang
Escape/Content/ParagonKwang/FX
Escape/Content/ParagonKwang/Characters/Global
Escape/Content/ParagonKwang/Characters/Heroes/Kwang/Materials
Escape/Content/ParagonKwang/Characters/Heroes/Kwang/Skins
Escape/Content/ParagonKwang/Characters/Heroes/Kwang/Sounds
Escape/Content/ParagonKwang/Characters/Heroes/Kwang/Textures