# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sln
*.lnk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
;*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.db
*.opendb
*.hotreload
*.exp

# Folders
.vs
DerivedDataCache
Intermediate
Saved
Build
Releases
Binaries/Android
Content/Collections
Content/Developers

#Kwang
Content/ParagonKwang/FX
Content/ParagonKwang/Characters/Global
Content/ParagonKwang/Characters/Heroes/Kwang/Materials
Content/ParagonKwang/Characters/Heroes/Kwang/Skins
Content/ParagonKwang/Characters/Heroes/Kwang/Sounds
Content/ParagonKwang/Characters/Heroes/Kwang/Textures